* text=auto !eol
channel-page-event/pom.xml -text svneol=unset#text/plain
channel-page-event/src/main/java/org/onehippo/forge/channelmanager/pagesupport/channel/event/DocumentCopyingPageCopyEventListener.java -text svneol=unset#text/plain
channel-page-event/src/main/java/org/onehippo/forge/channelmanager/pagesupport/channel/event/DocumentManagementServiceClient.java -text svneol=unset#text/plain
channel-page-event/src/main/java/org/onehippo/forge/channelmanager/pagesupport/channel/event/HippoFolderDocumentUtils.java -text svneol=unset#text/plain
channel-page-event/src/main/resources/META-INF/hst-assembly/addon/module.xml -text svneol=unset#text/plain
channel-page-event/src/main/resources/META-INF/hst-assembly/addon/org/onehippo/forge/channel-pagesup/cross-channel-page-copy-support.xml -text svneol=unset#text/plain
document-management-service/pom.xml -text
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/DocumentManagementService.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/DocumentManagementServiceMXBean.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/impl/DocumentManagementServiceDaemonModule.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/impl/DocumentWorkflowDocumentManagementService.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/impl/HippoWorkflowUtils.java -text svneol=unset#text/plain
document-management-service/src/main/resources/channel-pagesup-document-management-service-module.xml -text svneol=unset#text/plain
document-management-service/src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
/pom.xml -text
src/site/resources/images/architectural-view1.png -text
src/site/resources/images/testscreen01.png -text
src/site/resources/images/testscreen02.png -text
src/site/resources/images/testscreen03.png -text
src/site/resources/images/testscreen04.png -text
src/site/resources/images/testscreen05.png -text
src/site/resources/images/testscreen06.png -text
src/site/resources/images/testscreen07.png -text
src/site/resources/images/testscreen08.png -text
src/site/resources/images/testscreen09.png -text
src/site/resources/images/testscreen10.png -text
src/site/site.xml -text
src/site/xdoc/architecture-view.xml -text svneol=unset#text/plain
src/site/xdoc/custom-configuration.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text
