* text=auto !eol
channel-page-event/pom.xml -text svneol=unset#text/plain
channel-page-event/src/main/java/org/onehippo/forge/channelmanager/pagesupport/channel/event/DocumentCopyingPageCopyEventListener.java -text svneol=unset#text/plain
channel-page-event/src/main/java/org/onehippo/forge/channelmanager/pagesupport/channel/event/DocumentManagementServiceClient.java -text svneol=unset#text/plain
channel-page-event/src/main/java/org/onehippo/forge/channelmanager/pagesupport/channel/event/HippoFolderDocumentUtils.java -text svneol=unset#text/plain
channel-page-event/src/main/resources/META-INF/hst-assembly/addon/module.xml -text svneol=unset#text/plain
channel-page-event/src/main/resources/META-INF/hst-assembly/addon/org/onehippo/forge/channel-pagesup/cross-channel-page-copy-support.xml -text svneol=unset#text/plain
document-management-service/pom.xml -text
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/DocumentManagementService.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/DocumentManagementServiceMXBean.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/impl/DocumentManagementServiceDaemonModule.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/impl/DocumentWorkflowDocumentManagementService.java -text svneol=unset#text/plain
document-management-service/src/main/java/org/onehippo/forge/channelmanager/pagesupport/document/management/impl/HippoWorkflowUtils.java -text svneol=unset#text/plain
document-management-service/src/main/resources/channel-pagesup-document-management-service-module.xml -text svneol=unset#text/plain
document-management-service/src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
/pom.xml -text
src/site/resources/highlight-source-elements.js -text
src/site/resources/images/architectural-view1.png -text
src/site/resources/images/testscreen01.png -text
src/site/resources/images/testscreen02.png -text
src/site/resources/images/testscreen03.png -text
src/site/resources/images/testscreen04.png -text
src/site/resources/images/testscreen05.png -text
src/site/resources/images/testscreen06.png -text
src/site/resources/images/testscreen07.png -text
src/site/resources/images/testscreen08.png -text
src/site/resources/images/testscreen09.png -text
src/site/resources/images/testscreen10.png -text
src/site/resources/jquery-1.7.2.min.js -text
src/site/resources/sh/scripts/shAutoloader.js -text
src/site/resources/sh/scripts/shBrushAS3.js -text
src/site/resources/sh/scripts/shBrushAppleScript.js -text
src/site/resources/sh/scripts/shBrushBash.js -text
src/site/resources/sh/scripts/shBrushCSharp.js -text
src/site/resources/sh/scripts/shBrushColdFusion.js -text
src/site/resources/sh/scripts/shBrushCpp.js -text
src/site/resources/sh/scripts/shBrushCss.js -text
src/site/resources/sh/scripts/shBrushDelphi.js -text
src/site/resources/sh/scripts/shBrushDiff.js -text
src/site/resources/sh/scripts/shBrushErlang.js -text
src/site/resources/sh/scripts/shBrushGroovy.js -text
src/site/resources/sh/scripts/shBrushJScript.js -text
src/site/resources/sh/scripts/shBrushJava.js -text
src/site/resources/sh/scripts/shBrushJavaFX.js -text
src/site/resources/sh/scripts/shBrushPerl.js -text
src/site/resources/sh/scripts/shBrushPhp.js -text
src/site/resources/sh/scripts/shBrushPlain.js -text
src/site/resources/sh/scripts/shBrushPowerShell.js -text
src/site/resources/sh/scripts/shBrushPython.js -text
src/site/resources/sh/scripts/shBrushRuby.js -text
src/site/resources/sh/scripts/shBrushSass.js -text
src/site/resources/sh/scripts/shBrushScala.js -text
src/site/resources/sh/scripts/shBrushSql.js -text
src/site/resources/sh/scripts/shBrushVb.js -text
src/site/resources/sh/scripts/shBrushXml.js -text
src/site/resources/sh/scripts/shCore.js -text
src/site/resources/sh/scripts/shLegacy.js -text
src/site/resources/sh/styles/shCore.css -text
src/site/resources/sh/styles/shCoreDefault.css -text
src/site/resources/sh/styles/shCoreDjango.css -text
src/site/resources/sh/styles/shCoreEclipse.css -text
src/site/resources/sh/styles/shCoreEmacs.css -text
src/site/resources/sh/styles/shCoreFadeToGrey.css -text
src/site/resources/sh/styles/shCoreMDUltra.css -text
src/site/resources/sh/styles/shCoreMidnight.css -text
src/site/resources/sh/styles/shCoreRDark.css -text
src/site/resources/sh/styles/shThemeDefault.css -text
src/site/resources/sh/styles/shThemeDjango.css -text
src/site/resources/sh/styles/shThemeEclipse.css -text
src/site/resources/sh/styles/shThemeEmacs.css -text
src/site/resources/sh/styles/shThemeFadeToGrey.css -text
src/site/resources/sh/styles/shThemeMDUltra.css -text
src/site/resources/sh/styles/shThemeMidnight.css -text
src/site/resources/sh/styles/shThemeRDark.css -text
src/site/site.xml -text
src/site/xdoc/architecture-view.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text
